CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

CONFIG_AUDIO_PLAYER_ENABLE_MP3=y
# CONFIG_AUDIO_PLAYER_ENABLE_WAV is not set
# CONFIG_AUDIO_PLAYER_ENABLE_HTTP_STREAM is not set
